.leveltext {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 28px;
    margin: 3px;
    width: 112px;
}

.majoritem {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 62px;
    margin: 3px;
    position: relative;
    width: 62px;
}

.bosskey {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 28px;
    margin: 3px;
    position: relative;
    width: 28px;
  }

.collectible {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    display: inline-block;
    height: 40px;
    margin: 4px;
    position: relative;
    width: 40px;
}

.halfmajoritem {
    background-size: contain;
    display: inline-block;
    height: 50px;
    margin: 0 1px 0 0;
    position: relative;
    width: 25px;
}

.ct_cycle {
    top: 32px;
}

.tracker {
    flex: 0 0 356px;
}

.badge-item {
    background-size: contain;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.tblitz-text {
    font: 24px Impact, sans-serif;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding-top: 18px;
    box-sizing: border-box;
}

.tblitz-text-found {
    font: 17px Impact, sans-serif;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    padding-top: 23px;
    box-sizing: border-box;
}