.all_nights_mask { background-position: -50 0 }
.beans { background-position: -100 0 }
.blast_mask { background-position: -150 0 }
.bomb_bag { background-position: -200 0 }
.bossa_nova { background-position: -250 0 }
.bottle { background-position: -300 0 }
.bow { background-position: -350 0 }
.bremen_mask { background-position: -400 0 }
.bunny_hood { background-position: -450 0 }
.camera { background-position: 0 -50 }
.captains_hat { background-position: -50 -50 }
.check { background-position: -100 -50 }
.circus_leader_mask { background-position: -150 -50 }
.couples_mask { background-position: -200 -50 }
.deku_mask { background-position: -250 -50 }
.don_gero_mask { background-position: -300 -50 }
.elegy { background-position: -350 -50 }
.epona { background-position: -400 -50 }
.fierce_deity_mask { background-position: -450 -50 }
.fire_arrows { background-position: 0 -100 }
.garo_mask { background-position: -50 -100 }
.giants_mask { background-position: -100 -100 }
.gibdo_mask { background-position: -150 -100 }
.goht { background-position: -200 -100 }
.gold_dust { background-position: -250 -100 }
.goron_mask { background-position: -300 -100 }
.great_fairy_mask { background-position: -350 -100 }
.gyorg { background-position: -400 -100 }
.healing { background-position: -450 -100 }
.hookshot { background-position: 0 -150 }
.ice_arrows { background-position: -50 -150 }
.kafei_mask { background-position: -100 -150 }
.kamaro_mask { background-position: -150 -150 }
.keaton_mask { background-position: -200 -150 }
.land_title { background-position: -250 -150 }
.lensbadge { background-position: -300 -150 }
.letter_to_kafei { background-position: -350 -150 }
.light_arrows { background-position: -400 -150 }
.lullaby { background-position: -450 -150 }
.magic { background-position: 0 -200 }
.mail_to_mama { background-position: -50 -200 }
.mask_of_scents { background-position: -100 -200 }
.mask_of_truth { background-position: -150 -200 }
.mirror_shield { background-position: -200 -200 }
.moon_tear { background-position: -250 -200 }
.mountain_title { background-position: -300 -200 }
.oath { background-position: -350 -200 }
.ocarina { background-position: -400 -200 }
.ocean_title { background-position: -450 -200 }
.odolwa { background-position: 0 -250 }
.postmans_hat { background-position: -50 -250 }
.powder_keg { background-position: -100 -250 }
.romani_mask { background-position: -150 -250 }
.soaring { background-position: -200 -250 }
.sonata { background-position: -250 -250 }
.stone_mask { background-position: -300 -250 }
.storms { background-position: -350 -250 }
.swamp_title { background-position: -400 -250 }
.time { background-position: -450 -250 }
.twinmold { background-position: 0 -300 }
.zora_mask { background-position: -50 -300 }
