.big_counter_font {
  font: 24px Impact, sans-serif;
  opacity: 0.75;
}

.small_counter_font {
  font: 16px Impact, sans-serif;
  opacity: 1;
}

.rewardtext {
  display: inline-block;
  background-size: contain;
  width: 50px;
  height: 18px;
  margin: 3px;
}

.stones {
  display: inline-block;
  background-size: contain;
  width: 33px;
  height: 33px;
  margin: 11.5px 1.5px 11.5px 1.5px;
}

.majoritem {
  display: inline-block;
  position: relative;
  background-size: contain;
  width: 50px;
  height: 50px;
  margin: 3px;
}

.dungname-col1 {
  display: inline-block;
  background-size: contain;
  width: 60px;
  height: 15px;
  margin-left: 15px;
}

.dungname-col2 {
  display: inline-block;
  background-size: contain;
  width: 75px;
  height: 15px;
  margin-left: 15px;
}

.dungname-col3 {
  display: inline-block;
  background-size: contain;
  width: 45px;
  height: 15px;
  margin-left: 15px;
}

.keys {
  display: inline-block;
  background-size: contain;
  width: 20px;
  height: 20px;
}